attrs==18.2.0
certifi==2018.11.29
cffi==1.9.1
chardet==3.0.4
click==6.7
coloredlogs==10.0
Django==2.1.4
django-webpack-loader==0.6.0
dnspython==1.16.0
dulwich==0.19.9
gitdb2==2.0.5
GitPython==2.1.11
humanfriendly==4.17
idna==2.5
inflect==2.1.0
git+https://github.com/bsdci/libioc@0.4.1
git+https://github.com/freenas/py-libzfs.git@FN-11.2-RELEASE#egg=libzfs
jsonref==0.2
markdown2==2.3.7
netifaces==0.10.7
psycopg2==2.7.6.1
pycparser==2.19
Pygments==2.1.3
git+https://github.com/william-gr/py-sysctl@master#egg=sysctl
pytz==2018.6
PyYAML==3.13
requests==2.21.0
rjsmin==1.0.12
six==1.10.0
smmap2==2.0.5
termcolor==1.1.0
texttable==1.5.0
tornado==5.1.1
tqdm==4.14.0
ucl==0.8
urllib3==1.21.1
verboselogs==1.6
xmltodict==0.11.0
