{% extends 'application.html' %}

{% block title %}Jail Info{% endblock %}

{% block content %}
  <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h2>Jail Info</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th>Config</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for k, v in jail.config.items %}
          <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if jail.running == True %}
        <div class="float-md-right"><a class="btn btn-success new" href="/jails/{{jail.name}}/connect">Connect</a></div>
      {% endif %}
    </div>
  </div>
{% endblock %}